<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <h1>QUINZE CINQ BOBY</h1>
    <div>
      <form action="/ajouter/" method="post">
	<p>
	<label for="newtodo">Hier j'ai : </label>
	<input type="text" name="newtodo" id="newtodo" autofocus />
	<input type="submit" value="Ajouter"/>
	</p>
      </form>
    </div>
</body>
</html>
